* {box-sizing: border-box}

body {
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
}

.container,header {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 20px 80px;
}

.navbar {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    justify-content: space-between;
    background-color: #272727 !important;
    box-shadow: 0 4px 20px rgb(0 0 0 / 12%);
}

.navbar-brand {font-size: 18px}
.navbar ,.navbar-collapse,.navbar-nav {flex-direction: column !important;}

form, table {
    padding: 25px;
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
}

.nav-item,th,label {text-transform: capitalize}

table {border: 1px solid var(--light);}

thead{background: #272727; color: var(--white);}

tbody tr {background-color: #fff}

.btn-primary {
    background-color: #c58422bf !important;
    border-color: #c58422bf !important;
}

header {
    padding-top: 0;
    padding-bottom: 0;
    height: 61px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cacaca;
}

.img-user {display: flex; justify-content: center; align-items: center;}
.img-user img {width: 100px; height: 100px; animation: scale 0.25s;}

h5 {font-size: 16px}

.br7 {border-radius: 7px}
.radius-0 {border-radius: 0;}

.grid-2 {display: grid; grid-template-columns: 1fr 1fr; gap: 20px;}
.grid-3 {display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px;}

.card {transition: all .25s;}
.card:hover {border: 2px solid var(--dark); cursor: pointer;}

.title {
    color: var(--dark);
    position: relative;
    text-transform: none;
    letter-spacing: 3px;
    margin-bottom: 50px!important;
}

.title:before {
    background: #c58422bf;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    bottom: -15px;
    width: 80px;
}

.scale {animation: scale 0.25s;}

.fadein { animation: fadein .25s; }

.blink { animation: blink-animation 3s infinite;}

@keyframes blink-animation { to { opacity: 0;  visibility: hidden; }}

@keyframes scale {
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}
}

@keyframes fadein {
    from {top: 30px; opacity: 0;}
    to {top: 15px; opacity: 1;}
}