<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 border-right">
  <a class="w-100 navbar-brand border-bottom py-3 pr-3 pl-3 m-0" th:href="@{/}">
    <i class="fal fa-books-medical mr-3"></i>Cabinet
  </a>

  <ul class="w-100 navbar-nav py-3 pr-3 pl-3">
    <li class="nav-item">
      <a class="nav-link" th:href="@{/clients/list}"><i class="fa fa-users mr-3"></i>Patients</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/dossier/list}"><i class="fa fa-folders mr-3"></i>dossiers</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/consultation/list}"><i class="fas fa-notes-medical mr-3"></i>consultations</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/prescription/list}"><i class="fas fa-laptop-medical mr-3"></i>ordonnances</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/rdv/list}"><i class="fas fa-user-md mr-3"></i>Rendez-vous</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" th:href="@{/#}"><i class="fas fa-signal mr-3"></i>Statistiques</a>
    </li>
  </ul>

  <div class="w-100 text-center py-3">
    <div class="img-user mb-3"><img class="rounded" th:src="@{/user.png}" alt="user"></div>

    <h5 class="text-white mt-0 mb-3">
      <span th:text="${#session.getAttribute('auth_session_email')}"></span>
    </h5>
    <a class="w-100 bn btn-dark py-2 pr-3 pl-3" th:href="@{/logout}" role="button">
      <i class="far fa-sign-out-alt mr-3"></i>Se déconnecter
    </a>
  </div>
</nav>
