<div data-th-replace="fragments/head"></div>
<body>

<div data-th-replace="fragments/navbar"></div>

<header class="bg-white d-flex mb-5">
  <p class="m-0 font-weight-bold"><i class="fa fa-plus mr-3"></i>Ajouter un patient</p>
  <div>
    <span class="mr-2">01/24/2023</span>
    <span class="mr-2 pl-2 border-left">1:08:51 PM</span>
    <span class="pl-2 border-left"><i class="fa fa-bell"></i></span>
  </div>
</header>

<div class="container py-3 mb-3">
  <form th:object="${clientForm}" method="post" th:action="@{/clients/save}">

    <hidden type="text" th:field="*{id}"/>

    <div class="w-100 grid-2">
      <div class="w-100 form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" th:field="*{nom}" placeholder="nom" required>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></div>
      </div>

      <div class="w-100 form-group">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" th:field="*{prenom}" placeholder="prenom" required>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></div>
      </div>
    </div>

    <div class="form-group">
      <label for="date">date de naissance</label>
      <input type="date" class="form-control" id="date" th:field="*{date}" required>
      <div class="alert alert-warning" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
    </div>

    <div class="form-group">
      <label for="tel">tel</label>
      <input type="tel" class="form-control" id="tel" th:field="*{tel}" placeholder="71 000 000" required>
      <div class="alert alert-warning" th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}"></div>
    </div>

    <div class="form-group">
      <label for="adresse">adresse</label>
      <input type="text" class="form-control" id="adresse" th:field="*{adresse}" placeholder="Tunis" required>
      <div class="alert alert-warning" th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}"></div>
    </div>

    <div class="form-group">
      <label for="age">age</label>
      <input type="number" class="form-control" id="age" th:field="*{age}" required>
      <div class="alert alert-warning" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    </div>

    <button type="submit" class="btn btn-primary mr-3"><i class="fa fa-plus mr-3"></i>Ajouter</button>
    <button type="reset" class="btn btn-danger"><i class="fa fa-trash mr-3"></i>Réinitialiser</button>
  </form>
</div>

<div data-th-replace="fragments/footer"></div>