<div data-th-replace="fragments/head"></div>
<body>

<div data-th-replace="fragments/navbar"></div>

<header class="bg-white d-flex mb-5">
    <p class="m-0 font-weight-bold"><i class="fa fa-plus mr-3"></i>Ajouter une consultation</p>
    <div>
        <span class="mr-2">01/24/2023</span>
        <span class="mr-2 pl-2 border-left">1:08:51 PM</span>
        <span class="pl-2 border-left"><i class="fa fa-bell"></i></span>
    </div>
</header>

<div class="container py-3 mb-3">
<form th:object="${consultationForm}" method="post" th:action="@{/consultation/save}">
    <hidden type="text" th:field="*{id}"/>

    <div class="form-group">
        <label for="but">Objectif</label>
        <input type="text" class="form-control" name="but" id="but" placeholder="but de la consulation" required>
    </div>

    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" name="date" id="date" required>
    </div>

    <div class="form-group">
        <label for="description">description</label>
        <textarea class="form-control" name="description" id="description" placeholder="description" required></textarea>
    </div>

    <div class="form-group">
        <label for="dossier">dossier</label>
        <select class="form-control" id="dossier" name="dossier" th:field="*{dossier.id}" required>
            <option th:each="c: ${dossiers}" th:value="${c.id}" th:utext="${c.nom}"></option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mr-3"><i class="fa fa-plus mr-3"></i>Ajouter</button>
    <button type="reset" class="btn btn-danger"><i class="fa fa-trash mr-3"></i>Réinitialiser</button>
</form>
</div>

<div data-th-replace="fragments/footer"></div>