<div data-th-replace="fragments/head"></div>
<body>

<div data-th-replace="fragments/navbar"></div>

<header class="bg-white d-flex mb-5">
  <p class="m-0 font-weight-bold"><i class="fa fa-stream mr-3"></i>Gestion des dossiers</p>
  <div>
    <span class="mr-2">01/24/2023</span>
    <span class="mr-2 pl-2 border-left">1:08:51 PM</span>
    <span class="pl-2 border-left"><i class="fa fa-bell"></i></span>
  </div>
</header>

<div class="container py-3 mb-3">
  <a class="btn btn-primary mb-5" th:href="@{/dossier/add}"><i class="fa fa-plus mr-3"></i>Nouveau dossier</a>

  <div class="title mb-3">
    <h3 class="m-0">
      <span class="mr-2">Liste des dossiers</span>
      (<span th:if="${dossiers}" th:text="${dossiers.size()}"></span>)
    </h3>
    <small class="text-muted">Liste des dossiers</small>
  </div>

  <form class="w-100 d-flex align-items-center mb-3 p-0 bg-transparent">
    <input class="w-100 form-control" type="search" placeholder="chercher.." required>
    <button type="submit" class="btn btn-primary d-flex align-items-center">
      <i class="fa fa-search mr-3"></i>Chercher
    </button>
  </form>

  <table class="table table-striped">
    <thead>
    <th scope="row">nom</th>
    <th scope="row">Description</th>
    <th scope="row">Action</th>
    </thead>
    <tbody>
    <tr th:each="c : ${dossiers}">
      <td th:utext="${c.nom}"></td>
      <td th:utext="${c.description}"></td>
      <td>
        <a th:href="@{/dossier/delete//{idc} (idc=${c.id})}"
           onclick="if(!window.confirm('Voulez vous vraiment supprimer?')) return false"
           role="button" class="btn btn-danger">
          <i class="fa fa-trash"></i>
        </a>
        <a th:href="@{/dossier/update//{idc} (idc=${c.id})}" role="button" class="btn btn-success">
          <i class="fa fa-pen"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div data-th-replace="fragments/footer"></div>