<div data-th-replace="fragments/head"></div>
<body>

<div data-th-replace="fragments/navbar"></div>

<header class="bg-white d-flex mb-5">
  <p class="m-0 font-weight-bold"><i class="fas fa-first-aid mr-3"></i>Gestion de cabinet</p>
  <div>
    <span class="mr-2">1/23/2023</span>
    <span class="mr-2 pl-2 border-left">1:08:51 PM</span>
    <span class="pl-2 border-left"><i class="fa fa-bell"></i></span>
  </div>
</header>

<div class="container py-3 mb-3">
  <h3>Bonsoir, admin</h3>
  <p class="text-muted"><i class="fa fa-clock mr-2"></i>Date: 01/24/2023</p>

  <div class="w-100 grid-3">
    <div class="card border text-center br7 p-3">
      <h1 class="card-body display-1 mt-0 mb-1"><i class="fa fa-users"></i></h1>
      <a th:href="@{/clients/list}" class="card-link text-dark lead">Gestion des patients</a>
    </div>

    <div class="card border text-center br7 p-3">
      <h1 class="card-body display-1 mt-0 mb-1"><i class="fas fa-book-medical"></i></h1>
      <a th:href="@{/dossier/list}" class="card-link text-dark lead">Gestion des dossiers</a>
    </div>

    <div class="card border text-center br7 p-3">
      <h1 class="card-body display-1 mt-0 mb-1"><i class="fa fa-file"></i></h1>
      <a th:href="@{/consultation/list}" class="card-link text-dark lead">Gestion des consultations</a>
    </div>

    <div class="card border text-center br7 p-3">
      <h1 class="card-body display-1 mt-0 mb-1"><i class="fa fa-sticky-note"></i></h1>
      <a th:href="@{/prescription/list}" class="card-link text-dark lead">Gestion des ordonnances</a>
    </div>

    <div class="card border text-center br7 p-3">
      <h1 class="card-body display-1 mt-0 mb-1"><i class="fal fa-user-md"></i></h1>
      <a th:href="@{/rdv/list}" class="card-link text-dark lead">Gestion des rendez-vous</a>
    </div>

  </div>
</div>

<div data-th-replace="fragments/footer"></div>
