<div data-th-replace="fragments/head"></div>
<body>

<div class="vw-100 vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1>Connexion</h1>
    <p>Connectez-vous à votre compte</p>

    <form th:object="${loginForm}"method="post" th:action="@{/login/check}">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="joe@gmail.com" required>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <button type="submit" class="w-100 btn btn-block btn-primary mt-4">
            <i class="fas fa-lock mr-3"></i></i>Se connecter
        </button>

        <div class="alert alert-danger mt-3" th:if="${loginError}" th:text="${loginError}"></div>
    </form>
</div>

<div data-th-replace="fragments/footer"></div>