<div data-th-replace="fragments/head"></div>
<body>

<div data-th-replace="fragments/navbar"></div>

<header class="bg-white d-flex mb-5">
  <p class="m-0 font-weight-bold"><i class="fa fa-pen mr-3"></i>Modifier une ordonnance</p>
  <div>
    <span class="mr-2">01/24/2023</span>
    <span class="mr-2 pl-2 border-left">1:08:51 PM</span>
    <span class="pl-2 border-left"><i class="fa fa-bell"></i></span>
  </div>
</header>

<div class="container py-3 mb-3">
  <form th:object="${prescriptionForm}" method="post" th:action="@{/prescription/save}">
    <input type="text" name="id" id="id" th:field="*{id}" hidden required>

    <div class="form-group">
      <label for="titre">titre</label>
      <input type="text" class="form-control" id="titre" th:field="*{titre}" required>
    </div>

    <div class="form-group">
      <label for="date">date</label>
      <input type="text" class="form-control" id="date" th:field="*{date}" required>
    </div>

    <div class="form-group">
      <label for="medicaments">medicaments</label>
      <input type="text" class="form-control" id="medicaments" th:field="*{medicaments}" required>
    </div>

    <div class="form-group">
      <label for="description">description</label>
      <textarea class="form-control" name="description" id="description" th:field="*{description}" required></textarea>
    </div>

    <div class="form-group">
      <label for="consultation">Consultation</label>
      <select class="form-control" id="consultation" name="consultation" th:field="*{consultation.id}">
        <option th:each="c: ${consultations}" th:value="${c.id}" th:utext="${c.but}"></option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mr-3"><i class="fa fa-pen mr-3"></i>Modifier</button>
    <button type="reset" class="btn btn-danger"><i class="fa fa-trash mr-3"></i>Réinitialiser</button>
  </form>
</div>

<div data-th-replace="fragments/footer"></div>