<div data-th-replace="fragments/head"></div>
<body>

<div data-th-replace="fragments/navbar"></div>

<header class="bg-white d-flex mb-5">
  <p class="m-0 font-weight-bold"><i class="fa fa-pen mr-3"></i>Modifier un rendez-vous</p>
  <div>
    <span class="mr-2">01/24/2023</span>
    <span class="mr-2 pl-2 border-left">1:08:51 PM</span>
    <span class="pl-2 border-left"><i class="fa fa-bell"></i></span>
  </div>
</header>

<div class="container py-3 mb-3">
  <form th:object="${rdvForm}" method="post" th:action="@{/rdv/save}">
    <input type="text" name="id" id="id" th:field="*{id}" hidden required>

    <div class="form-group">
      <label for="jour">Date</label>
      <input type="date" class="form-control" name="jour" id="jour" th:field="*{jour}" placeholder="date" required>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description" id="description" th:field="*{description}"
                placeholder="description" required></textarea>
    </div>

    <div class="form-group">
      <label for="client">Client</label>
      <select class="form-control" id="client" th:field="*{client.id}">
        <option th:each="c: ${clients}" th:value="${c.id}" th:utext="${c.nom}+' '+${c.prenom}"></option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mr-3"><i class="fa fa-pen mr-3"></i>Modifier</button>
    <button type="reset" class="btn btn-danger"><i class="fa fa-trash mr-3"></i>Réinitialiser</button>
  </form>
</div>

<div data-th-replace="fragments/footer"></div>